/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: mediumpurple;}
  h1 {color: lavender; font-family: script MT;}
  h3 {color: lavenderblush; font-family: Brush Script MT;}   p {color: lightpink; font-family: Ariel} 
}
